{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "printWidth": 140,
  "overrides": [
    {
      "files": [
        "**/*.html"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
