<div class="content" role="main">
  <span>{{ title }} app is running!</span>
</div>
<div class="container">
  <a [routerLink]="['books']" routerLinkActive="active" class="btn">Books</a>
  <a [routerLink]="['movies']" routerLinkActive="active" class="btn">Movies</a>
  <a [routerLink]="['formreact']" routerLinkActive="active" class="btn">Reactive FORM</a>
  <a [routerLink]="['formtempl']" routerLinkActive="active" class="btn">Template FORM</a>
  <a [routerLink]="['signal/signal-one']" routerLinkActive="active" class="btn">Signal one</a>
  <a [routerLink]="['signal/signal-two']" routerLinkActive="active" class="btn">Signal two</a>
</div>
<router-outlet></router-outlet>
<div>{{ "HELLO" | translate: param }}</div>
